.table {
    width: 80%;
    padding-top: 10px;
    margin: 0 auto;
}

.backdrop {
    z-index: 1;
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
}